// color pallete for bepahkupi
$white:                     #ffffff  !default;
$black:                     #000000  !default;
$red:                       #ffffff  !default;
$orange:                    #ffffff  !default;
$gold:                      #ffc542  !default;
$green:                     #21B573  !default;
$blue:                      #00b4d8  !default; 
$cyan:                      #04d182  !default;
$purple:                    #06c0e6  !default; 
$magenta:                   #eb2f96  !default;
$volcano:                   #ff6b72  !default;
$lime:                      #a0d911  !default;
$geekblue:                  #17bcff  !default;

// Create grayscale
$gray-dark:                 #00054a  !default;
$gray:                      #455560  !default;
$gray-light:                #72849a  !default; 
$gray-lighter:              #ededed  !default;
$gray-lightest:             #f7f7f8  !default;

// Gruu colors
$gruu-primary:               #004aad  !default;
$brand-primary:              #ffffff  !default;
$brand-secondary:            #ffde59  !default;
$brand-font-color:           #ffde59  !default;
$brand-accent:               #ffde59  !default;

$sidebar-text-active:		$gruu-primary !default;
$sidebar-bg-active:			$brand-accent !default; 